@font-face {
  font-family: NorseBold;
  src: url(font/Norse-Bold.otf);
}

:root {
  --left-side-width: 40vw;
  --righ-side-width: 60vw;
  --page-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-size: 4rem;
  font-family: NorseBold;
}

img[src="images/odin-lined.png"] {
  height: 5rem;
}
.content {
  display: flex;  
  height: var(--page-height);
}

/* Styling for left side background image and logo */
.left-content {
  background-image: url("images/remi-devaux-A94d3FxWCco-unsplash.jpg");
  background-size: cover;
  width: var(--left-side-width);
  display: flex;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 20vh;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--left-side-width);
}

.credit {
  position: absolute;
  top: 95vh;
  width: var(--left-side-width);
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
}

/* Styling for right side form and content */

.right-content {
  width: var(--righ-side-width);
}