@font-face {
  font-family: NorseBold;
  src: url(font/Norse-Bold.otf);
}

:root {
  --left-side-width: 40vw;
  --righ-side-width: 60vw;
  --page-height: 100vh;
  --page-font: Roboto, 'sans-serif';
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--page-font);
}

h1 {
  color: white;
  font-size: 4rem;
  font-family: NorseBold;
}

img[src="images/odin-lined.png"] {
  height: 5rem;
}
.content {
  display: flex;  
  height: var(--page-height);
}

/* Styling for left side background image and logo */
.left-content {
  background-image: url("images/simon-pallard-jw6TYTGdNbk-unsplash.jpg");
  background-size: cover;
  width: var(--left-side-width);
  display: flex;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 20vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--left-side-width);
}

.credit {
  position: absolute;
  top: 95vh;
  width: var(--left-side-width);
  text-align: center;
  color: white;
}
.credit>a:link, .credit>a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.credit>a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}

/* Styling for right side form and content */

.right-content {
  width: var(--righ-side-width);
  background-color: rgb(250, 250, 250);
}

.intro {
  margin: 20vh 15vw 25px 5vw;
}

.form {
  padding: 2vw 5vw;
  background-color: white;
  box-shadow: 0px 5px 5px lightgray;
}

input {
  width: 20vw;
  padding: 10px;
  box-sizing: border-box;
  border: 1px lightgray;
  border-style: solid;
  border-radius: 4px;
}

input:hover {
  border: 1px gray;
  border-style: solid;
}

.create-account {
  margin: 25px 5vw;
}

.create-account

.name, .contact-info, .password {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
}

.name>*, .contact-info>*, .password>* {
  display: flex;
  flex-direction: column;
}

.form-content-wrapper {
  display: flex;
  flex-direction: column;;
  gap: 10px;
}

.form-content-wrapper>h2 {
  margin: 0;
}
